<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Администратор</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .card-header {
            background-color: #007bff;
            color: white;
        }
        .btn-primary, .btn-secondary, .btn-info, .btn-warning {
            margin-right: 5px;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Панель управления администратора</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Добро пожаловать, <span th:text="${username}"></span>!</h3>
                </div>
                <div class="card-body">
                    <p>Это ваша персональная панель администратора.</p>
                    <div class="d-flex justify-content-center">
                        <a href="/admin/addUser" class="btn btn-primary">Добавить пользователей</a>
                        <a href="/admin/users" class="btn btn-secondary">Список пользователей</a>
                        <a href="/documents/list" class="btn btn-info">Список всех документов</a>
                        <a href="/documents/edit/1" class="btn btn-warning">Редактирование документов</a> <!-- Пример использования с ID = 1 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
